@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #3d3a3a;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 0;
}